@using R6Ranking.Models

<div class="card player-card" style="position: relative; width: 218px; height: 350px; cursor: pointer;">
    <!-- Header -->
    <div class="d-flex align-items-center"
         style="position: absolute; width: 100%; left: 4%; z-index: 4; background-color: transparent;">
        <img src="@Player.Team?.LogoUrl" alt="F/A" style="width: 32px; padding: 4px;" />
        <h2 style="margin: 0; padding-top: 1px; font-size: 1.3rem; color: var(--bs-white--2);">@Player.PlayerName</h2>
    </div>

    <h2 style="position: absolute; top: 1px; right: 15px; font-weight: bold; color: var(--bs-white--2);
              font-size: 1.7rem; font-style: italic; z-index: 5;
              text-shadow:  3px 3px 0px var(--bs-black--2),
                            3px 3px 0px var(--bs-black--2),
                            3px 3px 0px var(--bs-black--2),
                            3px 3px 0px var(--bs-black--2)">
        @Player.EloRating
    </h2>

    <!-- Portrait Layers -->
    <img src="@Player.CardURL" alt="Card Background"
         style="position: absolute; top: 4%; left: 5%; width: 90%; height: 90%; z-index: 1;" />
    <img src="@Player.PhotoURL" alt="Player Photo"
         style="position: absolute; top: 20%; width: 95%; height: 80%; z-index: 2; object-fit: cover; padding-left:5px" />
    <img src="/images//CardUI/CardFrame_basic.png" alt="Card Frame"
         style="position: absolute; width: 102%; height: 100%; z-index: 3;" />

    <!-- Footer -->
    <div style="position: absolute; bottom: 0; right: 0; width: 100%; left: 3%; padding: 10px; z-index: 4; background-color: transparent;">
        <div class="bi d-flex gap-2 mt-1">
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= Player.SkillRating)
                {
                    <i class="bi bi-star-fill" style="color: var(--bs-cream--1); font-size: 20px;"></i>
                }
                else
                {
                    <i class="bi bi-star" style="color: var(--bs-cream--1); font-size: 20px;"> </i>
                }
            }
        </div>
    </div>
    <i class="bi bi-star"></i>
    <i class="bi bi-star-fill"></i>
    <div style="position: absolute; bottom: 6%; right: 4%; display: flex; justify-content: space-between;
                align-items: center; width: 90%; padding: 4px; z-index: 4; background-color: transparent;">
        <h1 style="font-size: 1.2rem; color: var(--bs-white--2);">@Player.Role</h1>

        @if (Enum.TryParse<Blazor.Flags.Country>(Player.OriginCountry?.CountryFlag, out var countryEnum))
        {
            <CountryFlag Country="countryEnum" Size="FlagSize.Normal" style="margin-top: -4px; border-radius: 15px;"></CountryFlag>
        }
        else
        {
            <p style="font-size: 0.875rem; color: var(--bs-white--2);">Flag not available</p>
        }
    </div>
</div>

@code {
    [Parameter]
    public Player Player { get; set; } = new Player();
}
