@page "/regions"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Regions</PageTitle>

<h1>Regions</h1>

<div class="flex-container">
    <p style="margin-left: auto;">
        <a href="regions/create" class="btn btn-primary">Create New</a>
    </p>
</div>

<QuickGrid Class="table" Items="@context.Regions">
    <TemplateColumn Context="region">
        <div class="region-info">
            <img src="@region.LogoUrl" alt="@region.RegionName Logo" class="region-logo" />
            <span>@region.RegionName (@region.RegionID)</span>
        </div>
    </TemplateColumn>

    <TemplateColumn Context="region">
        <a href="@($"regions/edit?regionid={region.RegionID}")">Edit</a> |
        <a href="@($"regions/details?regionid={region.RegionID}")">Details</a> |
        <a href="@($"regions/delete?regionid={region.RegionID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    R6EsportsDbContext context = default!;



    protected override void OnInitialized() {

        context = DbFactory.CreateDbContext();

    }



    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}

<style>
    .region-info {
        display: flex;
        align-items: center;
    }

    .region-logo {
        width: 40px;
        height: auto;
        margin-right: 10px;
    }
</style>
