@page "/matches/details"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    @if (match is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MatchName</dt>
            <dd class="col-sm-10">@match.MatchName</dd>
            <dt class="col-sm-2">Team1ID</dt>
            <dd class="col-sm-10">@match.Team1ID</dd>
            <dt class="col-sm-2">Team1Score</dt>
            <dd class="col-sm-10">@match.Team1Score</dd>
            <dt class="col-sm-2">Team2ID</dt>
            <dd class="col-sm-10">@match.Team2ID</dd>
            <dt class="col-sm-2">Team2Score</dt>
            <dd class="col-sm-10">@match.Team2Score</dd>
            <dt class="col-sm-2">MapID</dt>
            <dd class="col-sm-10">@match.MapID</dd>
            <dt class="col-sm-2">TournamentID</dt>
            <dd class="col-sm-10">@match.TournamentID</dd>
            <dt class="col-sm-2">MatchDate</dt>
            <dd class="col-sm-10">@match.MatchDate</dd>
        </dl>
        <div>
            <a href="@($"/matches/edit?matchid={match.MatchID}")">Edit</a> |
            <a href="@($"/matches")">Back to List</a>
        </div>
    }
</div>

@code {
    Match? match;

    [SupplyParameterFromQuery]
    public int MatchID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        match = await context.Matches.FirstOrDefaultAsync(m => m.MatchID == MatchID);

        if (match is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
