@page "/matches"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@implements IAsyncDisposable
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="matches/create">Create New</a>
</p>

<MudTable Items="@context.Matches" Bordered="true" Striped="true" Hover="true">

    <HeaderContent>
        <MudTh>Match Name</MudTh>
        <MudTh>Team 1 Score</MudTh>
        <MudTh>Team 2 Score</MudTh>
        <MudTh>Match Date</MudTh>
        <MudTh>Tournament ID</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.MatchName</MudTd>
        <MudTd>@context.Team1Score</MudTd>
        <MudTd>@context.Team2Score</MudTd>
        <MudTd>@context.MatchDate.ToShortDateString()</MudTd>
        <MudTd>@context.TournamentID</MudTd>

        <MudTd>
            <MudLink Href="@($"matches/edit?matchid={context.MatchID}")">Edit</MudLink> |
            <MudLink Href="@($"matches/details?matchid={context.MatchID}")">Details</MudLink> |
            <MudLink Href="@($"matches/delete?matchid={context.MatchID}")">Delete</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
