@page "/countries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@implements IAsyncDisposable
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="countries/create">Create New</a>
</p>

<MudTable Items="context.Countries" Bordered="true" Striped="true" Hover="true">

    <HeaderContent>
        <MudTh>Country Name</MudTh>
        <MudTh>Country Flag</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.CountryName</MudTd>
        <MudTd><img src="@context.CountryFlag" alt="@context.CountryName Flag" class="country-flag" /></MudTd>

        <MudTd>
            <MudLink Href="@($"countries/edit?countryid={context.CountryID}")">Edit</MudLink> |
            <MudLink Href="@($"countries/details?countryid={context.CountryID}")">Details</MudLink> |
            <MudLink Href="@($"countries/delete?countryid={context.CountryID}")">Delete</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
