@page "/operatorbans"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Operator Bans</PageTitle>

<h1>Index</h1>


<div class="flex-container">
    <p style="margin-left: auto;">
        <a href="operatorbans/create" class="btn btn-primary">Create New</a>
    </p>
</div>
<QuickGrid Class="table" Items="@context.OperatorBans">
    <TemplateColumn Context="operatorban">
        <div class="ban-info">
            <img src="@operatorban.OperatorLogo" alt="@operatorban.OperatorName Logo" class="operator-logo" />
            <span>@operatorban.OperatorName (@operatorban.OperatorBanID)</span>
        </div>
    </TemplateColumn>

    <TemplateColumn Context="operatorban">
        <a href="@($"operatorbans/edit?operatorbanid={operatorban.OperatorBanID}")">Edit</a> |
        <a href="@($"operatorbans/details?operatorbanid={operatorban.OperatorBanID}")">Details</a> |
        <a href="@($"operatorbans/delete?operatorbanid={operatorban.OperatorBanID}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<style>
    .ban-info {
        display: flex;
        align-items: center;
    }

    .operator-logo {
        width: 60px; /* Adjust this value as needed */
        height: 60px; /* Adjust this value as needed */
        object-fit: contain; /* Ensure the image fits within the set dimensions */
        margin-right: 10px;
    }
</style>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized() {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
