@page "/operatorbans"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@implements IAsyncDisposable
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="operatorbans/create">Create New</a>
</p>

<MudTable Items="context.OperatorBans" Bordered="true" Striped="true" Hover="true">

    <HeaderContent>
        <MudTh>Operator Name</MudTh>
        <MudTh>Operator Logo</MudTh>
        <MudTh>Operator Side</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.OperatorName</MudTd>
        <MudTd><img src="@context.OperatorLogo" alt="@context.OperatorName Logo" class="operator-logo" /></MudTd>
        <MudTd>@context.OperatorSide</MudTd>

        <MudTd>
            <MudLink Href="@($"operatorbans/edit?operatorbanid={context.OperatorBanID}")">Edit</MudLink> |
            <MudLink Href="@($"operatorbans/details?operatorbanid={context.OperatorBanID}")">Details</MudLink> |
            <MudLink Href="@($"operatorbans/delete?operatorbanid={context.OperatorBanID}")">Delete</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
