@page "/tournaments"

@using Microsoft.EntityFrameworkCore
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Tournaments</PageTitle>

<h1>Tournaments</h1>

<div class="d-flex justify-content-end mb-3">
    <a href="Tournaments/create" class="btn btn-primary">Create New</a>
</div>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Tournament Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tournament in context.Tournaments)
        {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="@tournament.TournamentLogo" alt="@tournament.TournamentName Logo" class="tournament-logo me-3" />
                        <div>
                            <div>@tournament.TournamentName (@tournament.TournamentID)</div>
                            <div>@tournament.RegionID</div>
                            <div>@tournament.TournamentLocation</div>
                        </div>
                    </div>
                </td>
                <td>
                    <a href="@($"tournaments/edit?tournamentid={tournament.TournamentID}")" class="btn btn-link">Edit</a> |
                    <a href="@($"tournaments/details?tournamentid={tournament.TournamentID}")" class="btn btn-link">Details</a> |
                    <a href="@($"tournaments/delete?tournamentid={tournament.TournamentID}")" class="btn btn-link">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
