@page "/tournaments"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Tournaments</PageTitle>

<h1>Tournaments</h1>

<div class="flex-container">
    <p style="margin-left: auto;">
        <MudButton Href="Tournaments/create">Create New</MudButton>
    </p>
</div>

<MudTable Items="context.Tournaments" Bordered="true" Striped="true" Hover="true">

    <HeaderContent>
        <MudTh>Tournament Info</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>
            <div class="tournament-info">
                <img src="@context.TournamentLogo" alt="@context.TournamentName Logo" class="tournament-logo" />
                <span>@context.TournamentName (@context.TournamentID)</span>
                <span>@context.RegionID</span>
                <span>@context.TournamentLocation</span>
            </div>
        </MudTd>

        <MudTd>
            <MudLink Href="@($"tournaments/edit?tournamentid={context.TournamentID}")">Edit</MudLink> |
            <MudLink Href="@($"tournaments/details?tournamentid={context.TournamentID}")">Details</MudLink> |
            <MudLink Href="@($"tournaments/delete?tournamentid={context.TournamentID}")">Delete</MudLink>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
