@page "/tournaments"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R6Ranking.Models
@using R6Ranking.Data
@inject IDbContextFactory<R6Ranking.Data.R6EsportsDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Tournaments</PageTitle>

<h1>Tournaments</h1>

<div class="flex-container">
    <p style="margin-left: auto;">
        <a href="Tournaments/create" class="btn btn-primary">Create New</a>
    </p>
</div>

<QuickGrid Class="table" Items="context.Tournaments">

    <TemplateColumn Context="tournament">
        <div class="tournament-info">
            <img src="@tournament.TournamentLogo" alt="@tournament.TournamentName Logo" class="tournament-logo" />
            <span>@tournament.TournamentName (@tournament.TournamentID)</span>
            <span>@tournament.RegionID</span>
            <span>@tournament.TournamentLocation</span>
        </div>
    </TemplateColumn>

    <TemplateColumn Context="tournament">
        <a href="@($"tournaments/edit?tournamentid={tournament.TournamentID}")">Edit</a> |
        <a href="@($"tournaments/details?tournamentid={tournament.TournamentID}")">Details</a> |
        <a href="@($"tournaments/delete?tournamentid={tournament.TournamentID}")">Delete</a>
    </TemplateColumn>



</QuickGrid>

@code {
    R6EsportsDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
